[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psutil = "*"
pyautogui = "*"
system_hotkey = "*"
xcffib = "*"
xpybutil = "*"

[dev-packages]

[requires]
python_version = "3.9"
